body{
    background-color: black;
    overflow: hidden;
    background-image: url("background-100.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    background-position:center;
    width: 100vw;
    height: 100vh;
    margin: 0;
}

.title{
    display: flex;
    position: fixed;
    justify-content: center;
    width: 100%;
    border: 0px solid rgba(0, 0, 0, 0);
    top: 10vh;
}
.text-container{
    display: flex;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0);
    width: 50%;
    height: auto;
    position: absolute;
    top: 30%;
    left: 25%;
    right: 10%;
    background-color: #9e090965;
    overflow: hidden;
}
.abouttext{
    color: white;
    text-align: center;
}
.about-container{
display: flex;
width: 10%;
height: 80vh;
justify-content: left;
position: absolute;
align-items: left;
}

.eye-container{
    display: flex;
    position: fixed;
    justify-content: center;
    width: 100%;
    top: 80vh;
}